<form {{on 'submit' this.login}}>

  <Forms::FormInput
    @labelText='Username'
    @inputValue={{this.nickname}}
    @placeholder={{@placeholder}}
  />

  <Forms::FormInput
    @labelText='Password'
    @inputValue={{this.password}}
    @inputType='password'
  />

  <Forms::FeedbackMessage
    @loading={{this.isAuthenticating}}
    @loadingMessage='Verifying credentials'
    @errorMessage={{this.errorMessage}}
  />
  <button
    class='uk-button uk-button-primary'
    type='submit'
    disabled={{this.isAuthenticating}}
  >
    {{this.label}}
  </button>

</form>