<form {{on 'submit' this.register}}>
  <Forms::FormInput
    @labelText='Name'
    @inputValue={{this.name}}
    @placeholder='Name'
  />

  <Forms::FormInput
    @labelText='Username'
    @inputValue={{this.nickname}}
    @placeholder='Username'
  />

  <Forms::FormInput
    @labelText='Password'
    @inputValue={{this.password}}
    @placeholder='Password'
    @type='password'
  />

  <Forms::FormInput
    @labelText='Password Confirmation'
    @inputValue={{this.passwordConfirm}}
    @placeholder='Password confirmation'
    @type='password'
  />

  <Forms::FeedbackMessage
    @loading={{this.isLoading}}
    @loadingMessage='Loading'
    @errorMessage={{this.errorMessage}}
  />

  <button
    class='uk-button uk-button-primary'
    type='submit'
    disabled={{this.isLoading}}
  >
    Register
  </button>
</form>