<form {{on 'submit' this.register}}>
  <Forms::FormInput
    @labelText='Name'
    @inputValue={{this.name}}
    @placeholder='Name'
  />

  <Forms::FormInput
    @labelText='Username'
    @inputValue={{this.nickname}}
    @placeholder='Username'
  />

  <Forms::FormInput
    @labelText='Password'
    @inputValue={{this.password}}
    @placeholder='Password'
    @type='password'
  />

  <Forms::FormInput
    @labelText='Password Confirmation'
    @inputValue={{this.passwordConfirm}}
    @placeholder='Password confirmation'
    @type='password'
  />
  <div class='feedback-message'>
    {{#if this.isLoading}}
      <div class='mu-login-authenticating'>
        Loading
      </div>
    {{/if}}
    {{#if this.errorMessage}}
      <div class='mu-login-error-message'>
        error
        {{this.errorMessage}}
      </div>
    {{/if}}
  </div>

  <button
    class='uk-button uk-button-primary'
    type='submit'
    disabled={{this.isLoading}}
  >
    Register
  </button>
</form>