<div>
  <div
    class='uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin'
    uk-grid
  >
    <div class='uk-card-media-left uk-cover-container'>
      <img src={{@post.thumbnailurl}} alt='' uk-cover />
      <canvas width='600' height='400'></canvas>
    </div>
    <div>
      <div class='uk-card-body'>
        {{#if @post.author}}
          <p>{{@post.author.formattedNickname}}</p>
        {{/if}}
        <time datetime={{@post.datecreated}}>{{@post.dateString}}</time>
        <h3 class='uk-card-title'>{{@post.headline}}</h3>
      </div>
      <div class='uk-card-footer'>
        <div class='uk-align-right'>
          <LinkTo
            @route='post'
            @model={{@post}}
            class='uk-button uk-button-text'
          >Read more</LinkTo>
          {{#if this.session.isAuthenticated}}

            {{#if (eq @post.author.nickname this.account.userAccount.nickname)}}
              <button
                class='uk-button uk-button-text'
                type='button'
                {{on 'click' (fn this.removePost @post)}}
              >Delete Post</button>
            {{/if}}
          {{/if}}
        </div>

      </div>
    </div>

  </div>
</div>