<div class='uk-card uk-card-default uk-text-center' ...attributes>
  <div class='uk-card-body'>
    <span uk-icon='icon: user; ratio: 3'></span>
    <h3 class='uk-card-title'>{{@account.owner.name}}</h3>
    <h5>{{@account.formattedNickname}}</h5>
    <div class='uk-card-footer'>
      <Authentication::AccountProvider as |isAuthenticated account|>
        {{#if (not-eq account.id @account.id)}}
          {{#if (contains account.owner.follows @account.owner.id)}}
            <button
              class='uk-button uk-button-text'
              type='button'
              {{on 'click' (fn this.unfollow @account.owner)}}
            >Unfollow</button>
          {{else}}
            <button
              class='uk-button uk-button-text'
              type='button'
              {{on 'click' (fn this.follow @account.owner)}}
            >Follow</button>
          {{/if}}
        {{/if}}
      </Authentication::AccountProvider>
    </div>
  </div>

</div>