<div class='uk-margin'>
  <label for={{this.inputId}}>{{@labelText}}</label>
  <Input
    type={{this.inputType}}
    id={{this.inputId}}
    class='uk-input'
    @value={{@inputValue}}
    disabled={{@isDisabled}}
    required={{@isRequired}}
    readOnly={{@isReadOnly}}
    placeholder={{@placeholder}}
  />
</div>