<form {{on 'submit' @onSubmit}}>
  <Forms::FormInput
    @inputValue={{@headline}}
    @placeholder='Post title'
    @labelText='Title'
  />

  <Forms::TextareaInput @placeholder='Post body' @inputValue={{@body}} />

  <FileUpload @onFileSelect={{@onImageSelect}} />

  {{#if @imagePreviewURL}}
    <div class='uk-margin'>
      <img src={{@imagePreviewURL}} />
    </div>
  {{/if}}
  <p class='uk-text-right'>
    {{#if @onCancel}}
      <button
        class='uk-button uk-button-default uk-button-primary'
        type='button'
        {{on 'click' @onCancel}}
      >Cancel</button>
    {{/if}}
    <button class='uk-button uk-button-default' type='submit'>Save</button>
  </p>
</form>