<div class='uk-margin'>
  <label for={{this.inputId}}></label>
  <Textarea
    id={{this.inputId}}
    class='uk-textarea'
    rows={{this.rows}}
    placeholder={{@placeholder}}
    @value={{@inputValue}}
  />
</div>